:root {
    --main-light: #fff;
    --main-dark: #222;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-dark);
    color: var(--main-light);
}

.gallery_wrapper {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    padding: 5px;

    width: 70%;
    height: fit-content;
    border: solid 2px var(--main-light);
}

.gallery_container {
    padding: 5px;
}

.gallery_card {
    width: 100%;
    height: fit-content;
    border: solid var(--main-light) 2px;
}

.gallery_card img {
    height: 300px;
    width: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}