@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --main-light: #fff;
    --main-dark: #222;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: "VT323", monospace;
}

body {
    background-color: var(--main-dark);
    color: var(--main-light);
}

header {
    position: fixed;
    background-color: var(--main-dark);

    justify-content: space-around;
    align-items: center;
    display: flex;

    height: 80px;
    width: 100%;

    border-bottom: solid #aaa 1px;
}

header a {
    text-decoration: none;
    color: var(--main-light);
    font-size: 1.5rem;
}

header a:hover {
    text-decoration: underline;
}

nav * {
    margin-left: 20px;
    font-size: 1.5rem;
}

.margin {
    padding-top: 80px;
}

.gallery_wrapper {
    display: flex;
    flex-wrap: wrap;

    width: 90%;
    margin: 0 auto;
    height: fit-content;
}

.gallery_post {
    background-color: #00000077;
    font-size: 1.5rem;

    width: 25%;
    height: 500px;

    word-wrap: break-word;
}

.gallery_post img {
    width: 100%;
    height: 60%;

    object-fit: cover;
}

.gallery_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 35%;
}

.button_wrapper {
    display: flex;
}


/* USER WRAPPERS */ 
/* ÄNDRA SÅ DET FUNKAR */

.user_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    margin: 0 auto;
    height: fit-content;
}

.posted_wrapper {
    width: 45%;
    height: fit-content;
    
    display: flex;
    
    background-color: red;
}

.user_post {
    background-color: #00000077;
    font-size: 1.5rem;

    width: 50%;
    height: 500px;

    word-wrap: break-word;
}

.user_post img {
    width: 100%;
    height: 60%;

    object-fit: cover;
}

.gallery_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 35%;
}

.button_wrapper {
    display: flex;
}




/* .gallery_wrapper {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    padding: 5px;

    width: 70%;
    height: fit-content;
    border: solid 2px var(--main-light);
}

.gallery_container {
    padding: 5px;
}

.gallery_card {
    width: 100%;
    height: fit-content;
    border: solid var(--main-light) 2px;
    display: flex;
}

.h2_center {
    text-align: center;
}

.gallery_card img {
    height: 300px;
    width: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

header {
    display: flex;
    height: 100px;
    width: 100%;

    justify-content: space-between;
    align-items: center;

    background-image: linear-gradient(#111, #1e1e1e);
}

ol {
    list-style-type: none;
}

li {
    border: var(--main-light) 2px solid;
    padding: 10px 30px;
    margin: 0 100px;
    display: inline;
}

a {
    color: var(--main-light);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.start_wrapper{
    width: 70%;
    margin: 20px auto;
    padding: 20px 40px;
    border: var(--main-light) solid 2px;
} */